<!DOCTYPE>
<html>
	<%= render "/layouts/head" %>
	<body >

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<%= link_to "City Distance", "/", class: "brand" %>
			</div>
		</div>

		<div class="row">
		<div class="span6 offset4">
			<div class="page-header">
				<h3>Enter feed url</h3>
			</div>
			<div class="form">
				<%= form_tag("index", method: "post", id: "form", class:"form-horizontal") do %>
				<%= text_field_tag 'feed_url', nil, class: "input" %>
				<%= submit_tag "ok" %>
				<% end %>
			</div>
			<div id = "feeds" class="form" >
				<% @feeds.each do |feed| %>
			    <li><%= link_to h(feed.name), feed %></li>
			  <% end %>
			</div>
		</div>          
							
	</body>
</html>