<%= render "/layouts/nav" %>

<form>
  <fieldset>
    <legend>Pi to the nth digit</legend>
    <input type="text" placeholder="Enter the number of digits">
    <br/>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<%= form_for @number, 
	:url => { :action => :compute },
	:html => {:name => "BlogRTE", :onsubmit => "submitForm();"} do |f| %>
	<%= label_tag "Title"%><br>
	<%= f.text_field :name %><br>
	<%= f.submit "Create" %>
<% end %>

<% if (@result != nil)%>
	<% @result %>
<% end%>
