<!DOCTYPE>
<html>
	<%= render "/layouts/head" %>
	<body >

		<div class="navbar navbar-inverse">
	  		<div class="navbar-inner">
	  			<%= link_to "Unit converter", "/", class: "brand" %>
		  	</div>
		</div>

		<div class="row">
	  	<div class="span6 offset4">
  			<div class="page-header">
			  	<h1>Unit converter  <small>Convert yourself</small></h1>
				</div>
				<div class="top" >
					<%= form_tag("calculate", method: "POST", remote: true, id: "form", class:"form-horizontal") do %>
					<%= select_tag "unit",  options_for_select(@units, @units[0]), class: "select" %>
				</div>
				<div id = "bla" class="row">

			  	<%= render "whole",	:locals => {
			  												:left => @left,
			  												:right => @right,
			  												:inputLeft => @inputLeft,
			  												:inputRight => @inputRight,
			  												:leftSelected => @leftSelected,
			  												:rightSelected => @rightSelected
															} %>
				
				</div>
			</div>	
		</div>	  		
		<div class="row">
			<div class="span1 offset6">
				<%= submit_tag "Calculate", class: "btn btn-inverse btn-large" %>
				<% end %>
			</div>
		</div>
	</body>
</html>